#relations h3 {
    border-bottom: 1px solid #d7d7d7;
    box-shadow: .1em .2em .4em 0 #f2f2f2;
    padding: 0 .2em;
    font-size: 100%;
    font-weight: normal;
}

#relations .addticketrels {
    font-size: 90%;
}

#relations table.ticketrels {
    width: 100%;
}

#relations table.ticketrels td,
#relations table.ticketrels th {
    font-size: 90%;
    padding-top: 0.3em;
}

